.vscode/
target/
**/target/

# Images
uploads
resources/static/
**/static/

# shell files
coachera.log

# MG3MZ-specific files
.project
.classpath
.factorypath
.settings/
**/.settings/

# .env files 
.env

# firebase account key
firebase-service-account.json